.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.container > div {
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
}

.light {
    background-color: #003b4a;
}

.dark {
    background-color: #03333f;
}

.container > div:hover {
    background-color: #002630;
}

.loader-type1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
}
