* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    position: sticky;
    background-color: #0d161b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

main > div {
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
}

.light {
    background-color: #003b4a;
}

.dark {
    background-color: #03333f;
}

main > div:hover {
    background-color: #002630;
}

.loader-type1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
}

.loader-1 {
    border: 5px solid white;
    border-bottom-color: #FF3D00;
    animation: rotation1 1.5s cubic-bezier(0.77, -0.11, 0.58, 1) infinite;
}

.loader-2 {
    border: 5px solid white;
    border-bottom-color: transparent;
    animation: rotation1 1.5s linear infinite;
}

.loader-3 {
    animation: rotation1 1.5s linear infinite
}

.loader-3::before,
.loader-3::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    inset: 0;
    border: 5px solid white;
    animation: prixClipFix 3s linear infinite;
}

.loader-3::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

.loader-4 {
    border: 2px solid white;
}

.loader-4:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #FF3D00;
    animation: rotation1 1.5s linear infinite;
}

.loader-5 {
    border: 2px solid white;
}

.loader-5:after {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #FF3D00;
    border-top-color: #FF3D00;
    animation: rotation1 1.5s linear infinite;
}

.loader-6 {
    border: 3px solid white;
    border-bottom-color: transparent;
    animation: rotation1 1.5s linear infinite;
}

.loader-6:before {
    content: '';
    position: absolute;
    inset: 9px;
    border: 3px solid #FF3D00;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
}

.loader-7 {
    border: 2px solid #FF3D00;
    animation: rotation1 1s linear infinite;
}

.loader-7:after {
    content: '';
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 32px;
    left: 16px;
    border: 2px solid white;
    border-radius: 50%;
}

.loader-8 {
    border-style: solid solid dotted dotted;
    border-color: white;
    border-width: 3px;
    animation: rotation1 2s linear infinite;
}

.loader-8:after {
    content: '';
    position: absolute;
    inset: 9px;
    border-style: dotted solid solid solid;
    border-color: #FF3D00;
    border-width: 3px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
}

.loader-9 {
    border: 5px dotted white;
    animation: rotation1 2s linear infinite;
}

.loader-10 {
    font-size: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: mulShdSpin 1.1s infinite ease;
}

.loader-11 {
    border: 2px solid #FF3D00;
    border-bottom: none;
    border-right: none;
    animation: rotation1 1.5s linear infinite;
    box-shadow: inset 0 0 4px 0 #181818;
}

.loader-12 {
    border: 5px solid white;
    animation: scale2 1s linear infinite;
}

.loader-12:after {
    content: "";
    position: absolute;
    inset: -3px;
    border: 3px solid white;
    border-radius: 50%;
    animation: scale1 1s linear infinite;
}

.loader-13:before,
.loader-13:after {
    content: "";
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    inset: 0;
    animation: scale3 2s linear infinite;
}

.loader-13:after {
    animation-delay: 1s;
}

@keyframes scale3 {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes experiment2 {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes scale1 {
    0% {
        transform: scale(0);
    }

    60%, 100% {
        transform: scale(1);
    }
}

@keyframes scale2 {
    0%, 60%, 100% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.2);
    }
}

@keyframes rotation1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
    75%, 100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2), 2.5em 0 0 0 rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2), 0 2.5em 0 0 rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2), -2.6em 0 0 0 rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2), 0 2.5em 0 0 rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2), -2.6em 0 0 0 rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0 rgba(255, 255, 255, 0.7), 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2), 0 2.5em 0 0 rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2), -2.6em 0 0 0 rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0 rgba(255, 255, 255, 0.5), 2.5em 0 0 0 rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2), -2.6em 0 0 0 rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2), 2.5em 0 0 0 rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0 rgba(255, 255, 255, 0.7), 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2), -2.6em 0 0 0 rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2), 2.5em 0 0 0 rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0 rgba(255, 255, 255, 0.5), 0 2.5em 0 0 rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2), 2.5em 0 0 0 rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2), 0 2.5em 0 0 rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.7), -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2), 2.5em 0 0 0 rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2), 0 2.5em 0 0 rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.5), -2.6em 0 0 0 rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0 #ffffff;
    }
}

@media (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

/*.............................................................................................................................................................................*/
