* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    position: sticky;
    background-color: #0d161b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

main > div {
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    transition: .2s linear;
}

.light {
    background-color: #003b4a;
}

.dark {
    background-color: #03333f;
}

main > div:hover {
    background-color: #002630;
}

.loader-1 {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    animation: rotation 1.5s cubic-bezier(0.77, -0.11, 0.58, 1) infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

}
